a{
	text-decoration: none;
  display: bloack;
}

/* Header */
.dropdown-toggle::after {
	vertical-align: 0.055em !important;
}

.navbar-collapse {
	flex-grow: 0 !important;
	max-width: 12% !important;
	width: 100% !important;
}

.dropdown-menu {
	--bs-dropdown-min-width: 8rem !important;
	--bs-dropdown-link-active-bg: #001060 !important;
}

.fa-user,
.fa-right-from-bracket,
.fa-circle,.fa-pen-to-square {
	color: #85B6FF;
}

.fa-circle {
	font-size: 15px;
}

.fa-bell {
	color: #ff2000;
	font-size: 23px;
}

.badge {
	position: absolute;
	top: 0%;
	left: 40%;
	--bs-badge-font-size: 0.65em !important;
	--bs-badge-border-radius: 1.375rem !important;
}

.nav-icon {
	position: relative;
}

/* Sidebar */
  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
  }

  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 5px;
  }
  
  .sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
  }
  
  .sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
  }
  
  .sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
  }
  
.active {
    color: #4154f1 !important;
    background: #f6f9ff !important;
  } */

  .sidebar-nav .nav-link:hover i {
    color: #4154f1;
  }

  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #012970;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
		text-decoration: none;
  }
  
  .sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  
  .sidebar-nav .nav-content a:hover,
  .sidebar-nav .nav-content a.active {
    color: #4154f1;
  }
  
  .sidebar-nav .nav-content a.active i {
    background-color: #4154f1;
  }

/* Profile */
.profile-blk{
  width: 50% !important;
  margin-left: 35% !important;
  border: 3px solid #85B6FF;
  margin-top: 8%;
  position: relative;
}
.fa-user-pen{
  position: absolute;
  right: 2%;
  font-size: 20px;
  top: 5%;
  color: #85B6FF;
}

.user-list{
  width: 70% !important;
  margin-left: 25% !important;
}

.th-md-user{
  width: 13%;
}

.th-lg-user{
  width: 14%;
}

.edit .fa-pen-to-square{
  color: #fff !important;
}

.download-btn{
  margin: 0 15px 0;
  width: 15% !important;
  background-color: #ff9800;
  border: none;
}