a {
    display: bloack;
    text-decoration: none;
}

/* Header */
.dropdown-toggle::after {
    vertical-align: 0.055em !important;
}

.navbar-collapse {
    width: 100% !important;
    flex-grow: 0 !important;
    max-width: 12% !important;
}

.dropdown-menu {
    --bs-dropdown-min-width: 8rem !important;
    --bs-dropdown-link-active-bg: #001060 !important;
}

.fa-user,
.fa-right-from-bracket,
.fa-circle,
.fa-pen-to-square {
    color: #85b6ff;
}

.fa-circle {
    font-size: 15px;
}

.fa-bell {
    color: #ff2000;
    font-size: 23px;
}

.badge {
    --bs-badge-font-size: 0.65em !important;
    --bs-badge-border-radius: 1.375rem !important;
    position: absolute;
    top: 0%;
    left: 40%;
}

.nav-icon {
    position: relative;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 996;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    margin: 10px 0 5px 15px;
    color: #899bbd;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar-nav .nav-link {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3;
    border-radius: 4px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
}

.sidebar-nav .nav-link.collapsed {
    background: #fff;
    color: #012970;
}

.sidebar-nav .nav-link.collapsed i {
    color: #899bbd;
}

.sidebar-nav .nav-link:hover {
    background: #f6f9ff;
    color: #4154f1;
}

.active {
    background: #f6f9ff !important;
    color: #4154f1 !important;
}

*/ .sidebar-nav .nav-link:hover i {
    color: #4154f1;
}

.sidebar-nav .nav-content {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
}

.sidebar-nav .nav-content a {
    display: flex;
    padding: 10px 0 10px 40px;
    color: #012970;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3;
}

.sidebar-nav .nav-content a i {
    line-height: 0;
    font-size: 6px;
    margin-right: 8px;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
    background-color: #4154f1;
}

/* Profile */

.admin-profile-blk {
    margin-top: 6%;
    margin-bottom: 10%;
}

.list-profile-blk {
    margin-top: 10%;
}

.fa-user-pen {
    color: #85b6ff;
    font-size: 20px;
}

.user-list {
    width: 75% !important;
    margin-left: 22% !important;
}

.th-md-user {
    width: 13%;
}

.th-lg-user {
    width: 14%;
}

.edit .fa-pen-to-square {
    color: #fff !important;
}

.download-btn {
    width: 15% !important;
    margin: 0 15px !important;
    border: none;
    background-color: #ff9800;
}

.post-active {
    background-color: #ffd5d5;
}

/*********************** home.blade ************************/

.home-ttl {
    font-size: 1rem;
    font-weight: 700;
}

.home-count {
    color: #000066;
    font-size: 3rem;
    font-weight: 900;
}

.home-count small {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.admin-count {
    margin-left: 10% !important;
}
