*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #fff;
}
.main-ttl{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding-top: 35px;
}
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #0373a6;
    background-color: #0bcfe8;
    color: #fff;
    margin: 45px 30px 50px;
    font-size: 16px;
}
.register{
    background-color: #00ab1d;
    border: 2px solid #258c0b;
}
.dashboard-img{
    display: block;
    margin: 0 auto;
}
.modal{
    display: none;
    --bs-modal-width: 400px;
}
.modal-footer{
    justify-content: center !important;
}
/* Login */
.inner{
    display: block;
    margin: 10% auto;
    width: 30%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 13px rgb(96 125 139 / 35%);
    padding: 30px 35px;
}
.ttl{
    font-size: 30px;
    text-align: center;
}
.input-gp{
    margin-bottom: 30px;
}
label{
    margin-bottom: 5px;
}
input,textarea{
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid #dddddd;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 28%);
}
.login,.reg-btn{
    margin: 0 auto;
    display: block;
    padding: 8px 50px;
    background-color: #92bff3;
    border: 3px solid #357eee;
}
.register-link{
    text-align: center;
    margin: 10px 0;
}
.reg-route{
    color: #258c0b;
}

/* Register */
.con-reg{
    margin: 5% auto;
    width: 30%;
}
.reg-btn{
    background-color: #02c924 !important;
    border: 3px solid #258c0b !important;
}
.fa-arrow-left{
    color: #8b8b8b;
}

textarea{
    resize: none;
}

/* Custom File */
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #5d5d5d;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: #605f5f;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  /* Profile */
  .alert-dismissible {
    padding-right: 1rem;
}
  .close{
    /* padding-right: 0; */
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #000;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }
  .thead-dark{
    background-color: #4f4f4f;
    color: #fff;
  }
  .th-lg{
    width: 25%;
  }
  .th-sm{
    width: 5%;
  }
  .th-md{
    width: 20%;
  }
  .edit,.delete{
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    margin: 0 10px;
    font-size: 16px;
  }
  .edit{
    background-color: #00ab1d !important;
    border: 2px solid #258c0b !important;
  }
  .delete{
    background-color: #ef1414 !important;
    border: 2px solid #900606 !important;
  }