.create{
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #055509 !important;
    background-color: #aabaf3 !important;
    font-size: 16px;
    margin: 20px 0 0;
}
.create a{
    color: #000;
}
.create-post{
    margin-top: 5% !important;
}
.col-md-3{
    padding: 0 !important;
    background-color: #aacbf3;
    color: #032d67;
}
.card-header,.card-footer{
    background-color: transparent !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.card-text{
    text-indent: 15%;
}
.cmt-btn{
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #444444;
    background-color: #7f7f7f;
    margin: 0 !important;
}
p,h5{
    margin: 0 !important;
    padding: 0 !important;
}
button{
    /*margin: 20px 0 0 !important;*/
    background-color: #286f8f !important;
    color: #fff !important;
}
.btn-close{
    margin: 0 !important;
}

.download-btn,.upload-btn{
    width: 12% !important;
    background-color: #ff9800 !important;
    border: none;
    margin: 0 !important;
}

  .upload-btn{
    background-color: #0d9df0 !important;
    margin: 0 20px 0 !important;
    width: 35% !important;
    padding: 0;
  }

  .post-active{
    background-color: #ffd5d5;
  }

  .post-detail {
    background-color:#DDF7E3 ;
  }
  .cmt-section {
background-color: #EEEEEE;
  }
  .post-detail .card-body p {
    word-wrap: break-word;
  }
  .comment-time,.post-time,.db-post-time {
    width: max-content;
    font-size: 0.7rem;
  }
  .cmt-txt {
    word-wrap: break-word;
  }

  table th {
    font-weight: 900;
  }

  table tr td {
    vertical-align: middle;
    padding: 0 15px;
    max-width: 150px;
  }

