.create {
    margin: 20px 0 0;
    padding: 10px 20px;
    border: 2px solid #055509 !important;
    border-radius: 10px;
    background-color: #aabaf3 !important;
    font-size: 16px;
}

.create a {
    color: #000;
}

.create-post {
    margin-top: 5% !important;
}

.col-md-3 {
    padding: 0 !important;
    color: #032d67;
    background-color: #aacbf3;
}

.card-header,
.card-footer {
    background-color: transparent !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.card-text {
    text-indent: 15%;
}

.cmt-btn {
    margin: 0 !important;
    padding: 5px 10px;
    border: 2px solid #444444;
    border-radius: 10px;
    background-color: #7f7f7f;
}

p,
h5 {
    margin: 0 !important;
    padding: 0 !important;
}

button {
    color: #fff !important;
    background-color: #286f8f !important;
}

.btn-close {
    margin: 0 !important;
}

.download-btn,
.upload-btn {
    width: 12% !important;
    margin: 0 !important;
    border: none;
    background-color: #ff9800 !important;
}

.upload-btn {
    width: 35% !important;
    margin: 0 20px 0 !important;
    padding: 0;
    background-color: #0d9df0 !important;
}

.post-active {
    background-color: #ffd5d5;
}

.postActive {
    background-color: #f2f2f2 !important;
}

.post-detail {
    background-color: #ddf7e3;
}

.cmt-section {
    background-color: #eeeeee;
}

.post-detail .card-body p {
    word-wrap: break-word;
}

.comment-time,
.post-time,
.db-post-time {
    width: max-content;
    font-size: 0.7rem;
}

.cmt-txt {
    word-wrap: break-word;
}

table th {
    font-weight: 900;
}

table tr td {
    padding: 0 15px;
    vertical-align: middle;
    max-width: 150px;
}
